# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# deps (apps/web has its own too)
node_modules/

# Next.js
.next/
out/

# local database
.data/
*.log

# storage (uploaded files)
storage/

# env
.env*

# vercel
.vercel

# misc
*.tsbuildinfo
